body {
  background: url('Background image 3.png') no-repeat;
  background-color: color;
  font-family: fantasy;
} /*this is for the background picture and font the page will have*/
ul {
  margin:20px;
  padding:10px;
  list-style: none;
} /* this is for the list structure */
ul li {
  float: left;
  width: 350px;
  height: 80px;
  background-color: white;
  opacity: 0.7;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  text-decoration-color: black;
  display:inline;

}
li a {
  display: block;
    color: black;
    text-align:center;
    padding: 15px;
    text-decoration: none;
  }
  li a:hover {
  background-color: cyan;
}  /*this is for the appearane of all the links on the home page
ul li a {
    display: block;
    background-color: white; /*this makes the navigation bar into blocks instead of direct links*/
h1{
  color: white;
}
h2{
  color: white;
}
p {
  color:cyan;
}
h4{
  color: white;
}
