body {
  background: url('Background image 3.png') no-repeat;
  background-color: color;
  font-family: fantasy;
} /*this is for the background picture and font the page will have*/
ul {
  margin:20px;
  padding:10px;
  list-style: none;
} /* this is for the list structure */
/*ul li {
  float: left;
  width: 200px;
  height: 80px;
  background-color: white;
  opacity: 0.4;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  text-decoration-color: black;
} /*this is for the appearane of all the links on the home page*/
ul li a {

}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
th {
  text-align: left;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.navigation{
  overflow: hidden;
  background-color: white;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  font-size: 40px;
  color: black;
  text-align: center;
}
ul.nav Li{
  display: inline;
}
ul.nav{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
h1{
  color: white;
}
h2{
  color: white;
}
